@media (min-width: 1399.98px) {
  .card:nth-child(2n) {
    margin-top: 40px;
  }
}
@media (max-width: 1220px) {
  .row__first {
    &-title {
      font-size: 16.75rem;
      line-height: 90%;
      letter-spacing: -19px;
    }
  }
  .row__second {
    &-contact {
      border-radius: 100%;
      padding: 80px 50px;
    }
    &-title {
      font-size: 16.75rem;
      line-height: 70%; /* 342px */
    }
  }
  .secondnav__link {
    font-size: rem(36);
  }
}
@media (max-width: 999.98px) {
  .firstblc__body {
    gap: 40px;
  }
  .header__logo {
    font-size: 24px;
  }
  .row__first {
    &-title {
      font-size: 12.75rem;
      line-height: 90%;
      letter-spacing: -19px;
    }
  }
  .row__second {
    &-contact {
      border-radius: 100%;
      padding: 60px 30px;
      margin-right: 10px;
    }
    &-title {
      font-size: 12.75rem;
      line-height: 70%; /* 342px */
    }
  }
  .row__first-text {
    font-size: rem(12);
  }
  .secondnav__link {
    font-size: rem(24);
    margin: 0px 15px;
  }
  .secondnav__litter {
    font-size: rem(67);
  }

  .content__number {
    font-size: 1.7rem;
  }
  .content__service {
    font-size: 1.7rem;
  }
  .content__text {
    font-size: 1.25rem;
    width: 22.5rem;
  }
  .content__price {
    font-size: 1.7rem;
  }
  .content__time {
    font-size: 1.7rem;
  }
}
@media (max-width: 699.98px) {
  .row__first {
    &-title {
      font-size: 7rem;
      line-height: 60%;
      letter-spacing: -2px;
    }
    &-text {
      color: #fff;
      font-family: "Inter Tight";
      font-size: rem(10);
      font-style: normal;
      font-weight: 500;
      line-height: 160%; /* 27.2px */
      max-width: 200px;
    }
  }
  .row__second {
    &-contact {
      padding: 50px 20px;
      margin-right: 10px;
    }
    &-title {
      font-size: 7rem;
      letter-spacing: 2px;
      line-height: 40%; /* 342px */
    }
  }
  .secondblc__card {
    padding: 30px 10px;
    height: 400px;
  }
  ////////////////////////////
  .thirdblc__title {
    font-size: rem(56);
  }
  .services__title {
    font-size: rem(36);
  }
  .content__number {
    font-size: 1.4rem;
  }
  .content__service {
    font-size: 1.4rem;
  }
  .content__text {
    font-size: 0.8rem;
    width: 16.5rem;
  }
  .content__price {
    font-size: 1.4rem;
  }
  .content__time {
    font-size: 1.4rem;
  }
}
@media (max-width: 599.98px) {
  .firstblc__body {
    margin-top: 120px;
  }
  .menu__link {
    font-size: rem(36);
  }
  .header__menu {
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
  }
  .header {
    position: fixed;
    width: 100%;
    z-index: 9999;
  }
  .header__contact,
  .header__logo {
    z-index: 9999;
  }
  .menu__list {
    row-gap: 50px;
    z-index: 9998;
    position: fixed;
    left: -100%;
    top: 0rem;
    width: 100%;
    height: 100%;
    flex-direction: column;
    background-color: #151515;
    justify-content: center;
    text-align: center;
    transition: all 0.3s ease 0s;
  }
  .menu__list.active {
    left: 0;
  }

  .menu__link {
    margin: 2rem 0;
  }

  .hamburger {
    margin-left: -30px;
    z-index: 9999;
    display: block;
    cursor: pointer;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .header__content {
    flex-direction: row-reverse;
    column-gap: 40px;
  }

  //////////////////////////////
  .firstblc {
    margin: 120px 0px 150px 0px !important;
  }
  .mailSend__container {
    margin: 50px 0px !important;
  }
  .thirdblc__container {
    margin: 50px 0px !important;
  }
  .row__first-text {
    font-size: rem(8);
  }
  .header__contact {
    font-size: rem(14);
    transition: all 0.5s ease-in-out 0s;
  }
  .menu__link {
    font-size: rem(16);
    opacity: 0.7;
    &:nth-child(2) {
      margin: 0px 20px;
    }
  }
  .row__first {
    &-title {
      font-size: 6rem;
      line-height: 60%;
      letter-spacing: -2px;
    }
  }
  .row__second {
    &-contact {
      padding: 50px 30px;
      margin-right: 10px;
      font-size: rem(14);
    }
    &-title {
      font-size: 5rem;
      letter-spacing: 2px;
      line-height: 40%; /* 342px */
    }
  }
  /////////////////////////////
  .secondnav__link {
    font-size: rem(16);
    margin: 0px 8px;
  }
  .secondnav__litter {
    font-size: rem(36);
  }
  /////////////////////////
  .secondblc__card {
    padding: 30px 10px;
    height: 300px;
  }
  .card__title {
    font-size: 1.8rem;
  }
  .card__subtitle {
    font-size: 1.2rem;
  }
  .footer__body {
    flex-direction: column;
    gap: 20px;
  }
  .content__number {
    font-size: 1.2rem;
  }
  .content__service {
    font-size: 1.2rem;
  }
  .content__text {
    font-size: 0.5rem;
    width: 10rem;
  }
  .content__price {
    font-size: 1.2rem;
  }
  .content__time {
    font-size: 1.2rem;
  }
  input {
    font-size: 1rem !important;
    width: 80% !important;
  }
  .form {
    gap: 30px !important;
  }
  .mailSend__title {
    font-size: rem(36) !important;
  }
  .content__card {
    flex-direction: column;
    gap: 20px;
  }
  .content__first {
    display: flex;
    gap: 40px;
    width: 100%;
    align-items: baseline;
  }
  .content__second {
    display: flex;
    gap: 20px;
    align-items: baseline;
  }
  .content__number {
    font-size: 1rem;
  }
  .content__price {
    font-size: 1rem;
  }
  .content__time {
    font-size: 1rem;
  }
  .content__text {
    width: 100%;
    font-size: 1rem;
  }
  .content__first {
    width: 100%;
  }
}
@media (max-width: 420px) {
  .firstblc {
    margin: 50px 0px 150px 0px !important;
  }
  .mailSend,
  .mailSend__container {
    margin-bottom: 0px !important;
  }
  .secondnav__list {
    display: flex;
    gap: 15px;
    flex-direction: column;
    align-items: center;
  }
  .secondblc__nav {
    margin-bottom: 40px;
  }
  .secondnav__link {
    font-size: rem(24);
  }
  .row__first-title {
    font-size: 7rem;
  }
  .row__second-title {
    font-size: 6rem;
  }
  .row__second-contact {
    display: none;
  }
  .secondblc__projects {
    gap: 25px;
  }
  .secondblc__card {
    width: 100%;
    text-align: center;
    height: 400px;
  }
  .card__body {
    width: 100%;
    text-align: center;
  }
  .row__first {
    flex-direction: column;
    gap: 40px;
    align-items: flex-start;
  }
  .row__first-text {
    font-size: rem(12);
    width: 100%;
    max-width: none;
  }
  .thirdblc__title {
    font-size: 2rem;
    letter-spacing: 1px;
  }
  .thirdblc__text {
    font-size: 0.8rem;
    max-width: 80%;
  }
  .swiper-slide {
    width: auto;
    margin-right: 25px;
  }
  .person__info-name {
    font-size: rem(18);
  }
  .person__info-nickname {
    font-size: rem(14);
  }
  .person__text {
    font-size: rem(14);
  }
  .person__logo img {
    width: 84px;
    height: 84px;
  }
  .thirdblc__swiper-buttonRight img {
    width: 34px;
    height: 34px;
  }
  .thirdblc__swiper-buttonLeft img {
    width: 34px;
    height: 34px;
  }
  .thirdblc__swiper-buttonRight:hover {
    background-color: transparent;
  }
  .thirdblc__swiper-buttonLeft:hover {
    background-color: transparent;
  }
  .content__first {
    gap: 20px;
  }
  .content__number {
    font-size: 1rem;
  }
  .content__price {
    font-size: 1rem;
  }
  .content__time {
    font-size: 1rem;
  }
  .content__text {
    font-size: 0.8rem;
  }
}
