body {
  font-family: "Montserrat";
  background-color: #151515;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 120.8333333333%;
  color: #fff;
}
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #151515;
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    padding: 0px 15px;
    margin-top: 30px;
  }
  &__logo {
    color: #fff;
    font-family: "Inter Tight";
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    text-transform: uppercase;
  }
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0px;
  }
  &__contact {
    color: #f8f8f8;
    opacity: 0.7;
    font-family: "Inter Tight";
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 110%; /* 19.8px */
    letter-spacing: -0.36px;
    transition: all 0.5s ease-in-out 0s;
    &:hover {
      border-bottom: 1px solid #fff;
      opacity: 1;
    }
  }
}
.menu {
  display: flex;
  &__body {
    display: flex;
    gap: 60px;
  }
  &__list {
    display: flex;
  }
  &__link {
    font-size: 1.125rem;
    color: #fff;
    font-family: "Inter Tight";
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    opacity: 0.7;
    &:nth-child(2) {
      margin: 0px 40px;
    }
    transition: all 0.4s ease-in-out 0s;
    &:hover {
      border-bottom: 1px solid #fff;
      opacity: 1;
    }
  }
}
